@import '../../styles/mixins.scss';

button {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: var(--border-medium);
  padding: 1rem 1.5em;
  margin: 1rem;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-medium);
  }
}

.dashboard {
  .navbar {
    background-color: #282c34;
    color: white;
    display: flex;
    padding: 2rem;

    p {
      padding: 0;
      margin: 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .main {
    background-color: white;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .camera {
      position: relative;
      width: 600px;
      height: 600px;

      @include mobile {
        width: 300px;
        height: 500px;
      }

      .webcam {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 9;
        width: 300;
        height: 300;
      }

      .canvas {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 9;
        width: 300;
        height: 300;
      }
    }

    .preview {
      @include content-size(600, 600);

      @include mobile {
        @include content-size(300, 500);
      }
    }
  }
}
