.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem 2rem;
  align-items: flex-start;

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 12px;
  }

  .subTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary);
    opacity: 0.5;
  }
}
